* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    transform: translateY(10rem);
    opacity: 0;
    transition: 1s ease-out;
}

.hidden.active {
    transform: translate(0);
    opacity: 1;
}

.wish {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #e4e3e3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wishes {
    width: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M433.42 559.91L441.81 559.91L441.81 568.3L433.42 568.3z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M371.16 485.62a48.52 48.52 0 1 0 77.29 58.68z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M864.87 343.8L911.96 343.8L911.96 390.89L864.87 390.89z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M855.57 403.67a31.18 31.18 0 1 0-14.44-60.66z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M579.85 166a9.09 9.09 0 1 0-16.42-7.8z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1233.41 437.91L1271.32 437.91L1271.32 475.82L1233.41 475.82z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M541.16 202.53 a28.03 28.03 0 1 0 56.06 0 a28.03 28.03 0 1 0 -56.06 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M187.1 331.32L233.99 331.32L233.99 362.74L187.1 362.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M132.1 303.48a2.49 2.49 0 1 0-4.94-0.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M379.32 388.56L390.19 388.56L390.19 399.43L379.32 399.43z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M506.02 517.05 a26.61 26.61 0 1 0 53.22 0 a26.61 26.61 0 1 0 -53.22 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M930.14 238.81L982.89 238.81L982.89 255.55L930.14 255.55z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1307.05 253.21 a6.83 6.83 0 1 0 13.66 0 a6.83 6.83 0 1 0 -13.66 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1170.95 180.2a21.81 21.81 0 1 0 6.85-43.08z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M141.32 288.65L144.15 288.65L144.15 302.59L141.32 302.59z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M335.62 509.25a12.58 12.58 0 1 0 21.93 12.32z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M445.24 181.15 a55.31 55.31 0 1 0 110.62 0 a55.31 55.31 0 1 0 -110.62 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1264.75-18.02a24.64 24.64 0 1 0 4.71 49.06z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1058.49 91.11L1068.9 91.11L1068.9 100.22L1058.49 100.22z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M116.9 142.93a0.94 0.94 0 1 0 0.52-1.8z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M111.1 14.53L115.19 14.53L115.19 18.62L111.1 18.62z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1319.76 457.93 a28.68 28.68 0 1 0 57.36 0 a28.68 28.68 0 1 0 -57.36 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M214.81 555.75 a46.6 46.6 0 1 0 93.2 0 a46.6 46.6 0 1 0 -93.2 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1445.71 319.97a36.54 36.54 0 1 0-53.51 49.77z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1193.9 202.91L1214.72 202.91L1214.72 203.86L1193.9 203.86z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M764.94 259.39 a41.42 41.42 0 1 0 82.84 0 a41.42 41.42 0 1 0 -82.84 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M872.87 381.7 a23.48 23.48 0 1 0 46.96 0 a23.48 23.48 0 1 0 -46.96 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M635.94 309.5 a30.48 30.48 0 1 0 60.96 0 a30.48 30.48 0 1 0 -60.96 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M53.73 496.76L67.07 496.76L67.07 510.1L53.73 510.1z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1120.67 357.25L1161.76 357.25L1161.76 403.36L1120.67 403.36z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M424.69 11 a27.33 27.33 0 1 0 54.66 0 a27.33 27.33 0 1 0 -54.66 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M994.11 301.01 a34.92 34.92 0 1 0 69.84 0 a34.92 34.92 0 1 0 -69.84 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1287.95 429.64 a8.54 8.54 0 1 0 17.08 0 a8.54 8.54 0 1 0 -17.08 0z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.wishes .wish-1,
.wishes .wish-2 {
    width: 100%;
    height: 50vh;
}

.wishes .wish-1 .wish-write,
.wishes .wish-2 .wish-write {
    width: 20rem;
    height: 49vh;
    background-color: rgba(232, 228, 228, 0.606);
    font-size: 1rem;
    float: right;
    padding: 1rem;
    margin: 2rem 10rem 0 10rem;
}

.wishes .wish-2 .wish-write {
    float: left;
    margin: 0 10rem 10rem 10rem;
}


@media (max-width:600px) {

    .wishes .wish-1 .wish-write,
    .wishes .wish-2 .wish-write {
        margin: 1rem 1.2rem;
        width: 80%;
    }

    .wishes .wish-2 .wish-write{
    margin: 0 1.2rem 5rem 1.2rem;
    }








}