@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
	background: #e3f2fd
}

svg {
    font-family: 'Courgette', cursive;
	width: 100%; 
	height: 100%;
	position: absolute; 
	top: -30%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	font-size: 6rem;
	text-shadow: 10px 10px 9px #000000;
	-webkit-box-reflect: below -60px linear-gradient(trans);
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgb(247, 0, 0);
		stroke-dashoffset: 15%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgb(224, 101, 101); }
	80%  {fill: rgba(72,138,20,0); stroke: rgb(174, 174, 174); stroke-width: 3; }
	100% {
		fill: rgb(255, 255, 255); stroke: rgba(253, 2, 2, 0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}